/*Обнуление базовых настроек*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: auto;
}

/*Карточка товара*/
.item__content {
    height: auto;
    width: 200px;
    padding: 15px;

    /*Рамка карточки товара*/
    border: 2px solid teal;
    border-radius: 15px;

    display: grid;
    gap: 10px;
}

/*Настройка размера изображения*/
.item__content img {
    width: 166px;
    height: 166px;

}

/*Настройка панели цены и кнопки "Добавить в корзину"*/
.item__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Настройка распределения товаров на странице*/
.sell_items_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;

    margin: auto;
}

/*Настройка расположения кнопки посередине страницы*/
.center_btn {
    text-align: center;
    margin-top: 30px;
}

/*Пагинация*/
.page__wrapper {
    margin-top: 30px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

.page {
    border: 1px solid teal;
    cursor: pointer;
    width: 30px;
    height: auto;

    /*Ориентация текста посередине*/
    text-align: center;
    padding-bottom: 4px;
    padding-top: 4px;
}

.page__current {
    border: 2px solid orange;
    font-weight: bold;
}

/*Навигация*/
.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: rgba(122, 85, 200, 0.5);
}

.navbar__links {
    margin-left: auto;
    display: flex;
    gap: 30px;
}

.sort__items {
    display: flex;
    gap: 40px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}